{margin: 0;
	padding: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}
div{
	background: #7E5109;
	width:100%;
}
img{
	width: 300px;
	height: auto;
	display: block;
	border-radius: 50px;
	padding: 10px;
	border: 1px solid #4A235A
}